body, html {
	height: 100%;
	margin: 0;
	font: 400 15px/1.8 "Roboto", sans-serif;
	color: #777;
	overflow-x: hidden;
}


.background-1, .background-2, .background-3, .background-4 {
	position: relative;
	opacity: 1;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.background-1 {
	background-image: url("images/background/portrait1.jpg");
	background-position-y: 30%;
	min-height: 100%;
}
.background-2 {
	background-image: url("images/background/rowena_crest.jpg");
	background-position-y: 32%;
}
.background-3 {
	background-image: url("images/background/background.jpg");
	background-position-y: 26%;
}
.background-4 {
	background-image: url("images/background/portrait3.jpg");
	background-position-y: 22%;
	min-height: 70%;
}
.dimmer {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background-color: rgb(29, 31, 37);
	background-position: center;
	background-size: cover;
	min-height: inherit;
}
.dim-anim {
	animation: dim 2s 0.2s both;
}
.dim-anim-immediate {
	animation: dim 2s both;
}
@keyframes dim {
	from {
		opacity: 1;
		background-color: rgb(29, 31, 37);
	}
	to {
		opacity: 0.5;
		background-color: rgb(4,9,30);
	}
}


h1, h2 {
	color: #fff;
	font-weight: 700;
	letter-spacing: 10px;
	padding-left: 10px;
}
h1 {
	font-size: 4vw;
	line-height:0%;
}
h2 {
	font-size: 2vw;
}
h3 {
	letter-spacing: 5px;
	padding-left:5px;
	text-transform: uppercase;
	font: 25px "Roboto", sans-serif;
	color: #111;
	text-align: center;
}
p {
	text-indent: 50px;
}


.caption {
	position: absolute;
	top: 54%; left: 0;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
}
.caption h3 {
	color: #fff;
	font-size: 1vw;
	animation: showup 1s 2.5s both;
}


.slide-initial, .slide-rest {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
}
.slide-initial {
	animation: showup 1s 0.8s both;
}
.slide-rest {
	padding-left: 0vw;
	animation: reveal 1.5s 1.5s both;
}
.slide-rest h1 {
	text-align: right;
	animation: slidein 1.5s 1.5s both;
}
@keyframes showup {
	from {opacity: 0}
	to {opacity: 1}
}
@keyframes reveal {
    from {width:0px;}
    to {width:calc(100px + 23.5vw);}
}
@keyframes slidein {
    from { margin-left:calc(-100px - 23.5vw); }
    to { margin-left:0px; }
}

.arrow {
	position: absolute;
	top: 95%; left: 50%;
	transform: translate(-50%, -50%);
	height: 2vw;
	width: 4vw;
	cursor: pointer;
	opacity: 0;
	animation: easeOutBounce 0.6s 3.5s 2 forwards, showup 0.5s 3s both;
}
.arrow img {
	position: absolute;
	top:50%; left:50%;
	transform: translate(-50%, -50%);
	width: 100%;
	transition: 0.2s;
}
.arrow img:hover {
	width: 110%;
}
@keyframes easeOutBounce {
	0% {
		transform: translate(-50%, -50%);
	}
	25% {
		transform: translate(-50%, 0%);
	}
	34% {
		transform: translate(-50%, -5.45%);
	}
	43% {
		transform: translate(-50%, -21.78%);
	}
	52% {
		transform: translate(-50%, -49.01%);
	}
	65.5% {
		transform: translate(-50%, -37.51%);
	}
	80.5% {
		transform: translate(-50%, -49.19%);
	}
	86.5% {
		transform: translate(-50%, -46.88%);
	}
	94% {
		transform: translate(-50%, -49.67%);
	}
	97% {
		transform: translate(-50%, -49.23%);
	}
	100% {
		transform: translate(-50%, -50%);
	}
}

.divider, .divider-dark {
	background-color: #eee;
	text-align: justify;
	padding: 50px 80px;
}
.divider-dark {
	color: #ddd;
	background-color: #282E34;
}
.divider-dark h3 {
	color: inherit;
}
.center {
	text-align: center;
	text-indent: 0;
}


.row {
	display: flex;
	justify-content: space-evenly;
	position: relative;
	z-index: 1;
	padding-top: 0px;
}
.row:nth-child(2) {
	padding-top: 100px;
}
.row-item-wrapper {
	flex-basis: 21%;	
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 100px;
}
.row-item {
	text-align: left;
	background-color: #eee;
	padding: 10px 50px 50px 50px;
	opacity: 0;
}
.row-item h4 {
	margin-bottom: 0;
	color: #333;
}
.row-item p {
	text-indent: 0;
	margin-top:0;
}
.row-item ul {
	margin-top:0;
}
.dark {
	color: #fff!important;
}
.dark-background {
	background-color: #282E34;
	color: #fff;
}

.row-item-anim-1 {
	animation: rowItemShow 1.5s 0.25s both ease-out;
}
.row-item-anim-2 {
	animation: rowItemShow 1.5s 0.50s both ease-out;
}
.row-item-anim-3 {
	animation: rowItemShow 1.5s 0.75s both ease-out;
}
.project-anim-1 {
	animation: rowItemShow 0.8s 0.25s both ease-out;
}
.project-anim-2 {
	animation: rowItemShow 0.8s 0.50s both ease-out;
}
@keyframes rowItemShow {
    from {
		opacity: 0;
		transform: translateY(5vh);
	}
    to {
		opacity: 1;
		transform: translateY(0);
	}
}

.project-wrapper {
	flex-basis: 18%;	
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 100px;
	cursor: pointer;
	
	transition: 0.2s;
}
.project-wrapper:hover {
	transform: translateX(0.5vw);
}
.project-wrapper:hover > div.project > div.project-name {
	transform: translate(-25%, -50%);
	opacity: 1;
}
.project {
	background-color: transparent;
	opacity: 0;
}
.project img {
	display: block;
	width: 100%;
	border-radius: 10%;
	box-shadow: 0 0 20px -2px #111;
}
.project-name {
	position:absolute;
	width: fit-content;
	top:50%; left: 0%;
	transform: translate(calc(3vw - 25%), -50%);
	z-index:2;
	
	transition: 0.3s;
	opacity: 0;
}
.project-name h3 {
	text-align: left;
	white-space: nowrap;
	color: #111;
	padding: 10px 20px 10px 20px;
	background-color: #fff;
	box-shadow: 0 0 10px -2px #111;
}
.clicky {
	display: block;
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	z-index:3;
}

.project-details-portal {
	display: none;
}
.project-details-overlay {
	position: fixed;
	inset: 0;
	z-index: 20;
	background-color: rgba(29, 31, 37, 0.58);
}
.project-details-content {
	position: absolute;
	inset: 40px;
	background-color: #fff;
	overflow: auto;
	max-height: 90%;
	margin: auto;
	max-width: 1080px;
}
.modal-wrapper {
	height: 100%;
	width: 100%;
}
.btn-close {
	position: absolute;
	right: 10px; top: 5px;
	padding: 10px;
	border: 0;
	background: none;
	cursor: pointer;
}
.btn-close img {
	height: 25px;
	width: 25px;
}
.project-top {
	background-color: #eee;
	width: 100%;
	height: 65%;
	padding: 20px;
	box-sizing: border-box;
}
.project-top img {
	position: relative;
	overflow: hidden;
	max-height: 75%;
	max-width: 60%;
	height: auto;
	margin: auto;
	display: block;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 5px;
	object-fit: contain;
	box-shadow: 0 0 12px -2px #111;
}
.project-image-wide {
	max-width: 80%!important;
}
.project-bottom {
	padding: 25px 50px 20px;
}
.project-bottom p {
	text-indent: 0;
}
p a {
	text-decoration: none;
	color: inherit;
	overflow-wrap: break-word;
	word-wrap: break-word;
}
p a:hover {
	text-decoration: underline;
}
.project-details-name, .project-framework-languages {
	margin: 5px 0;
	color: #111;
}
.project-details-name {
	font: 30px "Roboto", sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.project-framework-languages {
	font: 18px "Roboto", sans-serif;
}


@media only screen and (max-device-width: 1366px) {
	.background-1, .background-2, .background-3, .background-4 {
		background-attachment: scroll;
	}
	.divider, .divider-dark {
		padding: 50px 50px;
	}
	
	h1 {
		font-size: 6vw;
	}
	.caption h3 {
		font-size: 3vw;
	}
	.arrow {
		height: 5vw;
		width: 10vw;
	}
	
	.row {
		flex-direction: column;
	}
	.row:nth-child(2) {
		padding-top: 50px;
	}
	.row-item-wrapper, .project-wrapper {
		margin-bottom: 50px;
	}
	.project-wrapper {
		margin-left: 30vw;
		margin-right: 30vw;
	}
	.row-item-anim-1, .row-item-anim-2, .row-item-anim-3, .project-anim-1, .project-anim-2 {
		animation-delay: 0s;
	}
	.project-name h3 {
		font-size: 3.5vw
	}
	.project-top img {
		max-width: 90%;
	}
	.project-image-wide {
		max-width: 95%!important;
	}

	@keyframes reveal {
		from {width:0px;}
		to {width:calc(100px + 35.25vw);}
	}
	@keyframes slidein {
		from { margin-left:calc(-100px - 35.25vw); }
		to { margin-left:0px; }
	}
}
