body, html {
	height: 100%;
	margin: 0;
	font: 400 15px/1.8 "Lato", sans-serif;
	color: #777;
}


.background-1, .background-2, .background-3, .background-4 {
	position: relative;
	opacity: 0.75;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.background-1 {
	background-image: url("images/portrait1.jpeg");
	background-position-y: 32%;
	min-height: 100%;
}
.background-2 {
	background-image: url("images/portrait2.jpg");
	background-position-y: 22%;
	min-height: 70%;
}
.background-3 {
	background-image: url("images/portrait3.jpeg");
	background-position-y: 26%;
	min-height: 70%;
}
.background-4 {
	background-image: url("images/portrait4.jpg");
	background-position-y: 38%;
	min-height: 100%;
}
@media only screen and (max-device-width: 1366px) {
	.background-1, .background-2, .background-3, .background-4 {
		background-attachment: scroll;
	}
}

.caption {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
}
.caption span.border {
	background-color: #111;
	color: #fff;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;
}
.background-2 div.caption span.border, .background-3 div.caption span.border {
	background-color: transparent;
	color: #f7f7f7;
}



h3 {
	letter-spacing: 5px;
	text-transform: uppercase;
	font: 20px "Lato", sans-serif;
	color: #111;
	
	text-align: center;
}
.divider, .divider-small {
	background-color: white;
	text-align: justify;
	padding: 50px 80px;
}
.divider-small {
	color: #ddd;
	background-color: #282E34;
}
.divider-small h3 {
	color: inherit;
}

