body, html {
	height: 100%;
	margin: 0;
	font: 400 15px/1.8 "Roboto", sans-serif;
	color: #777;
}


.background-1, .background-2, .background-3, .background-4 {
	position: relative;
	opacity: 1;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.background-1 {
	background-image: url("images/background/portrait1.jpg");
	background-position-y: 30%;
	min-height: 100%;
}
.background-2 {
	background-image: url("images/background/background.jpg");
	background-position-y: 32%;
}
.background-3 {
	background-image: url("images/background/background.jpg");
	background-position-y: 26%;
	min-height: 80%;
}
.background-4 {
	background-image: url("images/background/portrait2.jpg");
	background-position-y: 32%;
	min-height: 100%;
}
.dimmer {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background-color: rgb(29, 31, 37);
	background-position: center;
	background-size: cover;
	min-height: inherit;
}
.dim-anim {
	animation: dim 2s 0.2s both;
}
.dim-anim-immediate {
	animation: dim 2s both;
}
@keyframes dim {
	from {
		opacity: 1;
		background-color: rgb(29, 31, 37);
	}
	to {
		opacity: 0.5;
		background-color: rgb(4,9,30);
	}
}


h1, h2 {
	color: #fff;
	font-weight: 700;
	letter-spacing: 10px;
	padding-left: 10px;
}
h1 {
	font-size: 4vw;
	line-height:0%;
}
h2 {
	font-size: 2vw;
}
h3 {
	letter-spacing: 5px;
	padding-left:5px;
	text-transform: uppercase;
	font: 25px "Roboto", sans-serif;
	color: #111;
	text-align: center;
}
p {
	text-indent: 50px;
}


.caption {
	position: absolute;
	top: 54%; left: 0;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
}
.caption h3 {
	color: #fff;
	font-size: 1vw;
	animation: showup 1s 2.5s both;
}


.slide-initial, .slide-rest {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
}
.slide-initial {
	animation: showup 1s 0.8s both;
}
.slide-rest {
	padding-left: 0vw;
	animation: reveal 1.5s 1.5s both;
}
.slide-rest h1 {
	text-align: right;
	animation: slidein 1.5s 1.5s both;
}
@keyframes showup {
	from {opacity: 0}
	to {opacity: 1}
}
@keyframes reveal {
    from {width:0px;}
    to {width:calc(100px + 23.5vw);}
}
@keyframes slidein {
    from { margin-left:calc(-100px - 23.5vw); }
    to { margin-left:0px; }
}

.arrow {
	position: absolute;
	top: 95%; left: 50%;
	transform: translate(-50%, -50%);
	height: 2vw;
	width: 4vw;
	cursor: pointer;
	opacity: 0;
	animation: easeOutBounce 0.6s 3.5s 2 forwards, showup 0.5s 3s both;
}
.arrow img {
	position: absolute;
	top:50%; left:50%;
	transform: translate(-50%, -50%);
	width: 100%;
	transition: 0.2s;
}
.arrow img:hover {
	width: 110%;
}
@keyframes easeOutBounce {
	0% {
		transform: translate(-50%, -50%);
	}
	25% {
		transform: translate(-50%, 0%);
	}
	34% {
		transform: translate(-50%, -5.45%);
	}
	43% {
		transform: translate(-50%, -21.78%);
	}
	52% {
		transform: translate(-50%, -49.01%);
	}
	65.5% {
		transform: translate(-50%, -37.51%);
	}
	80.5% {
		transform: translate(-50%, -49.19%);
	}
	86.5% {
		transform: translate(-50%, -46.88%);
	}
	94% {
		transform: translate(-50%, -49.67%);
	}
	97% {
		transform: translate(-50%, -49.23%);
	}
	100% {
		transform: translate(-50%, -50%);
	}
}

.divider, .divider-dark {
	background-color: #eee;
	text-align: justify;
	padding: 50px 80px;
}
.divider-dark {
	color: #ddd;
	background-color: #282E34;
}
.divider-dark h3 {
	color: inherit;
}


.row {
	display: flex;
	justify-content: space-evenly;
	position: relative;
	z-index: 1;
	padding-top: 100px;
}
.row-item-wrapper {
	flex-basis: 21%;	
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 100px;
}
.row-item {
	text-align: left;
	background-color: #eee;
	padding: 10px 50px 50px 50px;
	opacity: 0;
}
.row-item h4 {
	margin-bottom: 0;
	color: #333;
}
.row-item p {
	text-indent: 0;
	margin-top:0;
}
.row-item ul {
	margin-top:0;
}

.row-item-anim-1 {
	animation: rowItemShow 1.5s 0.25s both ease-out;
}
.row-item-anim-2 {
	animation: rowItemShow 1.5s 0.50s both ease-out;
}
.row-item-anim-3 {
	animation: rowItemShow 1.5s 0.75s both ease-out;
}
@keyframes rowItemShow {
    from {
		opacity: 0;
		transform: translateY(5vh);
	}
    to {
		opacity: 1;
		transform: translateY(0);
	}
}


.project-wrapper {
	flex-basis: 18%;	
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 100px;
}
.project {
	text-align: left;
	background-color: #eee;
	opacity: 1;
}
.project img {
	display: block;
	width: 100%;
}

@media only screen and (max-device-width: 1366px) {
	.background-1, .background-2, .background-3, .background-4 {
		background-attachment: scroll;
	}
	.divider, .divider-dark {
		padding: 50px 50px;
	}
	
	h1 {
		font-size: 6vw;
	}
	.caption h3 {
		font-size: 3vw;
	}
	.arrow {
		height: 5vw;
		width: 10vw;
	}
	.row-item-anim-1, .row-item-anim-2, .row-item-anim-3 {
		animation-delay: 0s;
	}
	
	.row {
		flex-direction: column;
		padding-top: 50px;
	}
	.row-item-wrapper {
		margin-bottom: 50px;
	}
	
	@keyframes reveal {
		from {width:0px;}
		to {width:calc(100px + 35.25vw);}
	}
	@keyframes slidein {
		from { margin-left:calc(-100px - 35.25vw); }
		to { margin-left:0px; }
	}
}
